body{ 
    background-image: url(/images/Torta\ fondo.jpg);background-repeat: no-repeat;background-position-x: center;background-position-x: center;background-size: cover;
   text-align: justify;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-image: fill; 
}
   button{
    font-size: x-large;
    color: blue;
    cursor: pointer;
   } 

