*{
    margin: 0; /*le quieto los margenes por defecto */
    padding:0;
    box-sizing: border-box;
}

body{ 
  
    background-image: url(/images/Torta\ fondo.jpg); /*imagen de fondo de pantalla */
     background-size: cover; /*<<<para que nos cubra toda la página*/
     background-repeat: no-repeat;
     background-attachment:fixed ; /*<<<para que la imagen vaya hasta abajo*/
     background-position: center;
    min-height: calc(100vh - 70px - 300px);/*con este calculo reste los pixeles de altura de header y footer para que el footer quedara bien */
 }

#header{
    width: 100%;/*ancho*/
    background: rgb(232, 218, 232);
    height: 70px;/*altura*/
    align-items: center;
    
    /*contenedor del logo*/

}
.boxlogo{ /*con el punto antes de boxlogo logro llamar al elemento*/
    width: 70%;/*con estas medidas trabajo lo que es la caja del logo y el nav,pero voy a necesitar un margen */
    
    margin:auto;/*con esto lo centro*/
}
.logo1{

    float:left;/*con esto le pido que se acomode dentro de los parametros posible ,que se fuera a la izquierda lo mas posible dentro de ese ancho establecido*/
}


nav{
    width: 80%;/*aca es de 70 porque sumado al 30 me da el 100 del ancho que puse antes */
    float:left;/*lo mismo que el logo, que se acomode*/
    text-align: center;/*para que nuestro texto se vaya a la derecha*/
    margin-top: 24px; /*para que las letras bajen. Todo lo que queramos que baje sera en el nav*/
    box-sizing: border-box; /*debo ponerlo porque paddin me desbordo y el box-sizing lo evita , lo contiene*/
}
nav ul li{
   display: inline ;/*con esto hago que mi menu se de ordene en fila hacia la derecha*/
}
nav ul li a{
    color:#58094f;/*aqui voy modificando la letra de nuestro "li" y esto esta en nav ul li a */
    font-size: 20px;/*tamaño de letra*/
    text-decoration: none;/*para que no tome ninguna decoracion */
    text-transform: uppercase;/*nos cambia la letra a mayusculas*/
    margin-left: 20px;/*esto es para que me separe el listado del menu y lo pondre  la izquierda*/
    font-weight:bold ;/*letra en negrita*/
    letter-spacing: 2px;/*con esto genero un espacio entre las letras de una misma palabra*/
    
    
}
nav ul li a:hover{/*cuando pasamos el mouse el color va a cambiar sobre la palabra*/
color:blue;
}


/*encabezado*/
#titulo .title{
    color: #58094f;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 5px #D4487A; ;
}
/*clase texto*/
.bienvenida{
    font-size: 25px;
    color:#2c1f33;
    font-weight: bold; 
    font-style: italic;
    margin:10px;
    text-align: left;
}


/*id*/
#subtitulos{ color: #841e62;

}

/*clase*/
.parrafo{
    color:#2c1f33
}
#video{
    color: #e9089e;
    margin-left: 20px;
}


#modalidad{
    color: #841e62;
    margin-left: 20px;
}
.parrafo1{ /*texto abajo de modalidad */
    color: rgb(151, 186, 10);
    font-size: 25px;
    margin-left: 60px;
}
#subtitulo-formulario{
    margin-left: 1%;
    color: #841e62;
}
.im{
    height: 800px;
}
   button{     /*boton con alerta , no tocarlo */
    font-size: large;
    color:grey;
    cursor: pointer;
   } 
   .button:hover{
    transform: scale(2.5)
}
  
     /*card de boton de alerta*/

        .container-comprar{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
             width: 300px;
            font-size:2.0rem;    
            background-color:rgb(255, 223, 191) ;
             position:absolute;
            top:10px;
            margin: 350px; 
          
            right: 0;/*fui corriendo del margen derecho para ir centrandolo*/ 
            width: 500px;
            height: 250px;
            border-radius: 4%;
            -moz-box-shadow: 0px 4px 4px #D4487A;
            -webkit-box-shadow: 0px 4px 4px #D4487A;
            box-shadow: 0px 4px 4px #D4487A;
                }
                .alerta-tex{
                    font-size:35PX;
                    color:rgb(226, 43, 131); 
                }

               /*card de formulario*/  
               .card-body{
                background-color: rgb(255, 223, 191);
                 }
              
             /* formulario*/
           .card{ 
            width: 750px;
            border-radius: 4%;
            -moz-box-shadow: 0px 4px 4px #D4487A;
            -webkit-box-shadow: 0px 4px 4px #D4487A;
            box-shadow: 0px 4px 4px #D4487A;
            position:absolute;
           margin-bottom: 5%;
           margin-left: 20px;
           }

             
           /*texto de formulario*/
       .form-label{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(226, 43, 131);
        font-weight:bold; /*puedo cambiar el grueso de la letra*/
        font-size: 20px; /*tamaño de la letra*/
        
     }
.invalid-feedback{
    color:rgb(226, 43, 131);
font-weight:bold;        
}
.container-video{/*contenedor de video */
   display: flex;
   padding: 30px;
   margin-left: 60px;
}
.container-card{ /*contenedor de las tarjetas */
    flex-direction: row;
    justify-content:left;
    padding: 30px;  
    gap: 20px;
    
}
.card1{/*tarjetas */
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 300px;
    gap: 10px;
    width: 450px;
            border-radius: 4%;
            -moz-box-shadow: 0px 4px 4px #D4487A;
            -webkit-box-shadow: 0px 4px 4px #D4487A;
            box-shadow: 0px 4px 4px #D4487A;
            position:relative;/*ver cambio todavia qu eposicion deberia ir, para subir el contenedor */
           bottom: 100%;       
}

/* footer*/
.pie{
    background-color:rgb(232, 218, 232);
    size: 10px;
    border: 20px;
    width: 100%;/*le agregue el width y heigth para ubicar bien el footer restandole en el body lo que abarca, cualquier cosa sacar de nuevo*/
    height: 310px;

}
img{
    width: 30px;
}
.logo-footer{
    float: left;
    align-items: center;
    gap: 10px;/* espacio entre logo y texto*/
    
}
.ini{/* enlaces a las diferentes paginas*/
    color: blueviolet;
    padding: 5px;
}
.fb{
    color: blue;
    padding: 5px;
}
.ins{
    color: aqua;
    padding: 5px;
}
.tw{
    color: cadetblue;
    padding: 5px;
}
.lkd{
    color: darkslateblue;
    padding: 5px;
}
.section2{
    padding: 5px;
    display: flex;
    justify-content: right;/* coloca los enlaces del otro lado*/
    align-items: stretch;
}
.logotipo{
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.secciones{
    display: flex;
    justify-content: space-evenly;
    max-width: 1500px;
    gap: 10px;
   
}
.secciones div{
    display: flex;
    flex-direction: column;
}
.nosotros{
    font-size: 15px;
    max-width: 500px;
}
.email23{
    padding: 10px 12px;
    font-size: 15px;
}
.mensaje23{
    padding: 10px;
    font-size: 15px;
}
button{
    padding: 10px 12px;
    font-size: 12px;
    color: blueviolet;
}
